.topContentWrapper {
  display: flex;
  align-items: center;
}

.topContentText {
  width: 100vw;
  display: flex;
  font-size: 2rem;
  color: #4a6572;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
