.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  color: #2c3e50;
  height: calc(100vh - 58px);
  justify-content: center;
}

.errorTitle {
  font-size: 3rem;
}

.loginCTA {
  font-size: 2rem;
  margin-top: 1rem;
  width: fit-content;
  cursor: pointer;
}
